import unittest

from {{ project_module }} import greeting


class TestGreeting(unittest.TestCase):
    def test_greeting(self) -> None:
        self.assertEqual(greeting(), "Hello from {{ project_name }}!")


if __name__ == "__main__":
    unittest.main()
