[requires]
# Add your Conan dependencies here
{% if include_tests %}
catch2/3.4.0
{% endif %}

[generators]
CMakeDeps
CMakeToolchain

[options]
{% if include_tests %}
catch2:shared=True
{% endif %}

[settings]
os={{ "Windows" if build_type == "Release" else "Linux" }}
arch={{ "x86_64" if build_type == "Release" else "x86_64" }}
compiler=gcc
compiler.version=11
compiler.libcxx=libstdc++11
build_type={{ build_type }}

[conf]
tools.cmake.cmaketoolchain:generator=Ninja